.Profil-img {
 width: 150px;
height: 150px;
border-radius: 50%;
border: 3px solid white;
object-fit: cover;
box-shadow: 0 4px 12px rgba(0 , 0 , 0 , 0.15);

}
.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.contact-buttons a {
    text-decoration: none;
    color: white;
    background-color: #1e3a5f;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid white;
    font-size: 16px;
}

.contact-buttons a:hover {
    background-color: #ffffff;
    color: #1e3a5f;
}